#cursor-canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;          /* ← plein écran */
  height: 100vh;         /* ← plein écran */
  pointer-events: none;
  z-index: 9999;
}

body {
  cursor: none;          /* masque le pointeur natif */
}
a, button {
  cursor: none !important;
}
